{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
    {{ form(form) }}
    <a href={{ path('app_admin_category')}}>Category List</a>
{% endblock %}
